{% extends "layout/basic.html" %}

{% block content %}
<div class="container">
  <h1>Контакты</h1>
  <hr>
    <div class="row">
        <div class="col-sm">
        <h3><p>Адрес</p></h3>
        <h5><p>Москва</p></h5>
        <p>метро Московское</p>
        <p>ул.Московская д.0</p>
      </div>
      <div class="col-sm">
        <h3>Телефон</h3>
        <p>+7(900)000-00-00</p>
        <p>+7(900)000-00-00</p>
      </div>
      <div class="col-sm">
        <h3>Email</h3>
        <p><a href="https://www.instagram.com/gerta_atelier/?hl=ru">@example.com</a></p>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2250.384079073276!2d37.48127231627181!3d55.664920980530034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54da0eaaa9bf9%3A0x480f952d88f87acf!2z0JzQtdGC0YDQviDQrtCz0L4t0JfQsNC_0LDQtNC90LDRjw!5e0!3m2!1sru!2sru!4v1571157773584!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

  </div>

{% endblock %}
